# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.serverless/

# Node (for Serverless)
node_modules/

# Testing
.pytest_cache/
.coverage
htmlcov/ 

# Deployment
deploy.sh 

deploy.ps1 

deployment/
lambda_deployment.zip
.aws-sam/ 

# SSH
price-scraper-key.pem
price-scraper-key.ppk
