
modules = ["python-3.12"]
run = "uvicorn app.main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 3000"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[workflows]
runButton = "Run Tests"

[[workflows.workflow]]
name = "Run"
author = 38842561

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[workflows.workflow]]
name = "Full App - Dev"
mode = "sequential"
author = 38842561

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev & python run.py"

[[workflows.workflow]]
name = "Clean All"
mode = "sequential"
author = 38842561

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "lsof -i :3000,3001,3002,8000 | grep LISTEN | awk '{print $2}' | xargs -r kill -9"

[[workflows.workflow]]
name = "Test"
mode = "sequential"
author = 38842561

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host 0.0.0.0 --port 3000 --reload"

[[workflows.workflow]]
name = "Run Tests"
author = 38842561

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python test/test_api.py"
